@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Roboto+Mono&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
header{
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 750;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    background-color: whitesmoke;
    color: black;
}
header .logo{
    display: flex;
    flex-basis: 40%;
    animation-name: colorChanger;
    animation-delay: 0.6s;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
header .navbar{
    flex-basis: 60%;
}
#hompage{
    color: pink;
}
header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
header li a{
    text-decoration: none;
    color: rgba(0,0,0, 0.5);
}
header ul li:hover{
    color: pink;
    cursor: pointer;
}

body{
    background: lightpink;
    color: black;
}
/* body{
    background-color: rgba(0, 0, 0, 0.46);
    color: whitesmoke;
} */
main{
    padding-top: 3%;
}
main #home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    /* display: none; */
}
.intro{
    flex-basis: 50%;
    padding: 20px;
    font-size: 30px;
}
.pic{
    flex-basis: 30%;
    transform: scale(1.05);
}
main #shop{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    position: relative;
    
}
#shop .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 26%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
#shop button{
    position: absolute;
    width: 120px;
    padding: 20px;
    bottom: -80px;
    border: none;
    font-size: 15px;
}
#shop button a{
    text-decoration: none;
    color: black;
}
.card img{
    transform: scale(0.6);
}
main #contact{
    /* display: none; */
    width: 60%;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 30px;
    font-size: 30px;
    margin-left: 20%;
    margin-top: 8%;
    background-color: aliceblue;
}
#contact button{
    width: auto;
    padding: 5px;
    margin: 10px;
    font-size: 17px;
    flex-basis: 50%;
    background-color: lightpink;
}
#contact button a{
    text-decoration: none;
    color: whitesmoke;    
}
#contact button:hover{
    background: rgba(230, 100, 120, 0.9);
}
#contact div{
    text-align: center;
}
body{
    position: relative;
}

@keyframes colorChanger {
    0%{
        color: black;
        
    }
    100%{
        color: pink;
    }
}

@media only screen and (max-width: 640px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
        background-color: rgba(0,0,0,0.2);
        font-size: 14px;
    }
    header{
        background-color: whitesmoke;
        font-size: 16px;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 8%;
        position: relative;
        z-index: 950;
    }
    header .logo{
        font-size: 22px;
        position: absolute;
        left: 10px;
        top: 0;
        animation-name: colorChanger;
        animation-delay: 0.6s;
        animation-duration: 10s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        text-align: start;
    }
    #hompage{
        color: blue;
    }
    header ul{
        display: none;
        list-style-type: none;
        position: absolute;
        top: 20px;
        left: 40px;
    }
    header ul li:hover{
        color: pink;
        cursor: pointer;
    }
    header li{
        margin: 20px;
        text-align: center;
    }
    main{
        padding-top: 0%;
    }
    main #home{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin: 0;
        position: relative;
    }
    .intro{
        flex-basis: 100%;
        padding: 20px;
        font-size: 20px;
        position: absolute;
        top: 220px;
    }
    .pic{
        flex-basis: 100%;
        transform: scale(.4);
        position: absolute;
        top: -140px;
    }
    main #contact{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 300px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 560px;
        left: -40px;
        padding: 30px;
        font-size: 15px;
        background-color: aliceblue;
    }
    #contact button{
        width: auto;
        padding: 5px;
        margin: 10px;
        font-size: 17px;
        background-color: rgba(0,0,0,0.2);
        color: black;
    }
    #contact button a{
        text-decoration: none;
        color: whitesmoke;    
    }
    #contact button:hover{
        background: rgba(230, 100, 120, 0.9);
    }
    #contact div{
        text-align: center;
    }
    

main #shop{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 10px;
    position: relative;
    
}
#shop .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 80%;
    height: 250px;
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
    position: relative;
}
#shop button{
    width: 100px;
    padding: 14px;
    bottom: -80px;
    border: none;
    font-size: 11px;
    outline: none;
    margin-bottom: 20px;
}
#shop button a{
    text-decoration: none;
    color: black;
}


.card img{
    transform: scale(0.45);
}
    @keyframes colorChanger {
        0%{
            color: pink;
            
        }
        
        100%{
            color: grey;
        }
    }
    body{
        position: relative;
    }
    
}